* {
   box-sizing: border-box;
    font-family: "Optima", sans-serif;
    color: #3a5156;
}

h3 {
    font-family: "Optima", sans-serif;
    color: #8e7363;
    text-transform: uppercase;
    font-size: 18px;
}

.gameScene {
    width: 1000px;
    height: 1200px;
    z-index: 1;
    position: absolute;
}

.bossTitleCard, enemyTitleCard {
    padding-top: 68px;
    text-align: center;
    display: inline-block;
    background: url('bossTitleCard.png') top center no-repeat;
    background-size: contain;
    position: absolute;
    height: 170px;
    width: 660px;
    
    background-size: contain;
}

.enemyTitleCard {
    padding-top: 68px;
    text-align: center;
    display: inline-block;
    background: url('enemyTitleCard.png') top center no-repeat;
    background-size: contain;
    position: absolute;
    height: 170px;
    width: 660px;
    
    background-size: contain;
}

.backgroundBottom {
    width: 1000px;
    height: 1200px;
    margin-top: -20px;
    background: url("fullBackgroundBottom.png") left top no-repeat;
    background-size: contain;
    z-index: 1000;
    position: absolute;
}

.hero {
    display: inline-block;
    margin-top: 240px;
    margin-left: 50px;
    margin-right: -90px;
    width: 135px;
    height: 200px;
    background: url('heroStand.gif') -110px top no-repeat;
    background-size: cover;
}

.hero + .door {
    display: inline-block;
    margin-top: 240px;
    margin-left: 200px;
    width: 150px;
    height: 200px;
    background: url('doorStandard.png') -23px top no-repeat;
    background-size: cover;
}
    

.door + .bossDoor {
    display: inline-block;
    margin-top: 160px;
    margin-left: 55px;
    margin-right: -20px;
    width: 220px;
    height: 250px;
    background: url('doorBoss.png') -14px top no-repeat;
    background-size: cover;
}

.door + .door, .bossDoor + .door {
    display: none;
    margin-top: 240px;
    margin-left: 80px;
    width: 150px;
    height: 200px;
    background: url('doorStandard.png') -23px top no-repeat;
    background-size: cover;
}

.hero + .bossDoor {
    display: none;
    margin-top: 160px;
    margin-left: 200px;
    margin-right: -20px;
    width: 220px;
    height: 250px;
    background: url('doorBoss.png') -14px top no-repeat;
    background-size: cover;
}


#enemyBlob {
    display: inline-block;
    margin-top: 160px;
    margin-left: 500px;
    margin-right: -60px;
    width: 200px;
    height: 300px;
    background: url('enemyBlob.gif') -165px 60px no-repeat;
    background-size: cover;
    }

#enemyBullBlob {
   display: inline-block;
    margin-top: 160px;
    margin-left: 500px;
    margin-right: -60px;
    width: 200px;
    height: 300px;
    background: url('enemyBullBlob.gif') -165px 31px no-repeat;
    background-size: cover;
    }

#enemyFlyingMonkey {
     display: inline-block;
    margin-top: 160px;
    margin-left: 500px;
    margin-right: -60px;
    width: 200px;
    height: 300px;
    background: url('enemyFlyingMonkey.gif') -165px -40px no-repeat;
    background-size: cover;
    
    /* flip gif horz */
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

#enemyFlyingSheep {
     display: inline-block;
    margin-top: 160px;
    margin-left: 500px;
    margin-right: -60px;
    width: 200px;
    height: 300px;
    background: url('enemyFlyingSheep.gif') -165px -40px no-repeat;
    background-size: cover;
    
    /* flip gif horz */
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

#enemyGremlin {
    display: inline-block;
    margin-top: 240px;
    margin-left: 500px;
    margin-right: -60px;
    width: 110px;
    height: 150px;
    background: url('enemyGremlin.gif') -80px 6px no-repeat;
    background-size: cover;
    
    }

#enemyPlant {
    display: inline-block;
    margin-top: 240px;
    margin-left: 500px;
    margin-right: -60px;
    width: 130px;
    height: 200px;
    background: url('enemyPlant.gif') -113px center no-repeat;
    background-size: cover;
    }

#enemyZombie {
    display: inline-block;
    margin-top: 140px;
    margin-left: 20px;
    margin-right: -60px;
    width: 200px;
    height: 300px;
    background: url('enemyZombie.gif') -165px 35px no-repeat;
    background-size: cover;
    }

#enemyBoss {
   display: inline-block;
    margin-top: -60px;
    margin-left: 500px;
    margin-right: 0px;
    width: 350px;
    height: 500px;
    background: url('enemyBoss.gif') -270px 65px no-repeat;
    background-size: cover;
    }

.GUI {
    display: block;
    background-color: #f7f7f7;
    margin-top: 540px;
    padding-top: 20px;
    width: 1000px;
    height: 600px;
    z-index: 101;
    position: absolute;
}


.manaContainer {
    margin-top: -20px;
    margin-bottom: -20px;
    width: 320px;
    position: relative;
    
}
.gameStatus {
    display: block;
    background-color: #f7f7f7;
    margin-top: 460px;
    margin-bottom: 60px;
    width: 1000px;
    height: 100px;
    z-index: 300;
    position: absolute;
}

/*Health bar section*/

.healthContainer {
    width: 300px;
    margin-left: 30px;
    float: left;
    display: inline-block;
    position: absolute;
    height: 100px;
    
}

.healthContainer > h4 {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 320px;
    position: relative;
    
}

#healthBarFill {
    position: absolute;
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: #e2371d;
    display: inline-block;
    height: 25px;
    width: 100%;
    z-index: 301;
}

#healthBarBG {
    position: absolute;
    margin-top: -0px;
    display: inline-block;
    border: inset 2px #01748e;
    border-radius: 20px;
    background-color: #ffe8e5;
    display: inline-block;
    color: #00B9E7;
    height: 25px;
    width: 100%;
    z-index: 300;
}

#healthBarBorder {
    position: absolute;
    margin-top: -0px;
    display: inline-block;
    border: inset 2px #a83425;
    border-radius: 20px;
    display: inline-block;
    height: 25px;
    width: 100%;
    z-index: 303;
}
/*status Log*/
#statusLog {
    
    margin-left: 340px;
    margin-top: 30px;
    text-align: center;
    vertical-align: center;
    display: inline-block;
    width: 320px;
    height: 60px;
    
}
/*Enemy Health bar section*/
.enemyHealthContainer {
    margin-top: 0px;
    margin-right: 30px;
    width: 300px;
    float: right;
    display: inline-block;
    position: relative;
    height: 100px;
    
}

.enemyHealthContainer > h4 {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 320px;
    position: relative;
    
}

#enemyHealthBarFill {
    position: absolute;
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: #e2371d;
    display: inline-block;
    height: 25px;
    width: 100%;
    z-index: 301;
}

#enemyHealthBarBG {
    position: absolute;
    margin-top: -0px;
    display: inline-block;
    border: inset 2px #01748e;
    border-radius: 20px;
    background-color: #ffe8e5;
    display: inline-block;
    color: #00B9E7;
    height: 25px;
    width: 100%;
    z-index: 300;
}

#enemyHealthBarBorder {
    position: absolute;
    margin-top: -0px;
    display: inline-block;
    border: inset 2px #a83425;
    border-radius: 20px;
    display: inline-block;
    height: 25px;
    width: 100%;
    z-index: 400;
}

.GUI:after {
    content: "";
  display: table;
  clear: both;
    padding-top: 20px;
}

.attackGUI {
    background-color: lightgrey;
    padding: 15px;
    float: left;
    display: inline-block;
    width: 550px;
    height: 260px;
    border: inset 5px #edbf36;
    z-index: 101;
}

.weaponDisplay, .manaDisplay {
    display: inline-block;
    margin-top: -25px;
}

.weaponDisplay > h3, .manaDisplay > h3, .inventoryContainer > h3 {
    text-align: center;
    margin-left: 5px;
    height: 28px;
    margin-bottom: 15px;
    border-bottom: solid 1px #c9b2a5;
}

#weaponSword:hover, #weaponAxe:hover, #weaponHammer:hover, #magicFireAttack:hover, #magicHealBurst:hover, #magicArmor:hover, #magicMeteorStrike:hover, #potionRed:hover, #potionBlue:hover, #itemSword:hover, #itemAxe:hover, #itemHammer:hover {
    opacity: .9;
}

#weaponSword:active, #weaponAxe:active, #weaponHammer:active, #magicFireAttack:active, #magicHealBurst:active, #magicArmor:active, #magicMeteorStrike:active, #potionRed:active, #potionBlue:active, #itemSword:active, #itemAxe:active, #itemHammer:active {
    top:1px;
}
#weaponSword {
    position: relative;
    margin-top: 0px;
    background-color: #fff;
    border: inset 8px #edbf36;
    border-radius: 100%;
    margin-right: 0px;
    width: 180px;
    height: auto;
    box-shadow: 3px 3px 7px black;
}
.manaDisplay {
    float: right;
    width: 320px;
    height: auto;
    display: inline-block;
}

.spellContainer {
    display: inline-block;
}

h4 {
    color: #6d584b;
    font-family: "Optima", sans-serif;
    font-size: 16px;
    text-align: center;
}

.spellContainer > h4 {
    margin-top: -10px;
    margin-left: 15px;
    line-height: 1.2em;
    display: block;
    width: 60px
    
}

.manaContainer {
    position: absolute;
    margin-top: -20px;
    margin-bottom: -20px;
    width: 320px;
    position: relative;
    
}

.manaContainer > h4 {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 320px;
    position: relative;
    
}

#manaBarFill {
    position: absolute;
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: #00B9E7;
    display: inline-block;
    height: 25px;
    width: 100%;
    z-index: 103;
}

#manaBarBG {
    position: absolute;
    margin-top: -0px;
    display: inline-block;
    border: inset 2px #01748e;
    border-radius: 20px;
    background-color: #d1f6ff;
    display: inline-block;
    color: #00B9E7;
    height: 25px;
    width: 100%;
    z-index: 101;
}

#manaBarBorder {
    position: absolute;
    margin-top: -0px;
    display: inline-block;
    border: inset 2px #01748e;
    border-radius: 20px;
    display: inline-block;
    height: 25px;
    width: 100%;
    z-index: 200;
}

#magicFireAttack, #magicHealBurst, #magicArmor, #magicMeteorStrike {
    position: relative;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 100%;
    border: inset 4px #00dbd7;
    width: 60px;
    height: 60px;
    box-shadow: 3px 3px 7px black;
}

.inventoryGUI {
    padding-left: 10px;
    padding-top: 10px;
    float: right;
    display: inline-block;
    width: 435px;
    height: 260px;
    background: url('inventoryBG.png') -16px -18px no-repeat;
    background-size: 470px;
}


.inventoryContainer {
    text-align: center;
    display: inline-block;
    margin-left: 51px;
    width: 310px;
    height: 100%;
    display: inline-block;
}

.itemContainer {
    display: none;
    margin-top: 14px;
    margin-right: 20px;
    line-height: 1.2em;
    display: inline-block;
    width: 70px
    
}
.itemContainer > h4 {
    margin-top: 5px;
    margin-left: 10px;
    line-height: 1.2em;
    display: inline-block;
    width: 60px
    
}

/*Poition Counters*/

.potionModRed, .potionModBlue {
    margin-top: -20px;
    position: relative;
    display: inline-block;
    width: 142px;
    height: 75px;
    margin-right: 10px;

}

.potionContainer {
    margin-right: 10px;
    display: none;
    display: inline-block;
    width: 60px
}

.itemCount {
    display: inline-block;
    width: 30%;
}
.itemX > h4 {
    font-size: 30px;
    font-style: italic;
}
#potionBlue, #potionRed {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 100%;
    border: inset 4px #ff8c00;
    width: 60px;
    height: 60px;
    box-shadow: 3px 3px 7px black;
}

#itemSword {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 100%;
    border: inset 4px #ff8c00;
    width: 70px;
    height: 70px;
    box-shadow: 3px 3px 7px black;
}

#itemAxe {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 100%;
    border: inset 4px #ff8c00;
    width: 70px;
    height: 70px;
    box-shadow: 3px 3px 7px black;
}

#itemHammer {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 100%;
    border: inset 4px #ff8c00;
    width: 70px;
    height: 70px;
    box-shadow: 3px 3px 7px black;
}